* {
	margin:0px; 
	padding:0px: 
} 

h1 { 
	text-align:center; 
	margin:15px 15px; 
} 


h2 {
	position:absolute;
	text-align:center;
	top:0px; 
	right:0px;
	width:100px;
	border:1px solid black;
} 

p {
	margin:35px 5px 5px 5px;
} 

section {
	width:33.33%;
	float:left;
}

article {
	position:relative;
	margin-left:10px; 
	margin-right:10px;
	border:1px solid black;
	background-color:#EEE;
} 

#beef { 
	background-color:blue;
}

#chicken {
	background-color:yellow;
}

#pork {
	background-color:pink; 
} 
video {
	float:left;
	margin:10px; 
	width:95%; 	
}