body {
	background-color: #eee;
}

.cosplayer {
	float: left;
	margin-right: 20px;
}

.ref {
	font-size: 25px;
	font-family: arial;
	margin-left: 10px;
	margin-top: 0px;
}

 span {
	  font-weight: bold;
 }
 
p {
	font-family: cambria;
}

.references {
	font-size: 15px;
	margin-left: 30px;
}

.twt, .fb, .ig, .arrow {
	padding-bottom: 10px
}