body {
	background: white;
}

#title {
	size: 50px;
	text-align: center;
	transform: rotate(-360 deg);
}
}

div {
	transform: rotate(-360 deg);
}

video {
	border-radius: 10px;
	background-color: black;
}

.cosplayer {
	float: left;
	margin-right: 5px;
}

h3 {
	font-size: 25px;
	font-family: arial;
	margin-left: 0px;
	margin-top: 0px;
}

h4 {
	text-align: center;
	font-size: 100%;
}